### *args and ***kwargs

In [1]:
# *args and **kwargs 

# using normal functions 
def function1(name, rollno):
    print('name is ' + name)
    print('rollno is ' + str(rollno))

# function1('sanket', 28)

# using *args 
def function2(*args):
    print(type(args))
    print('name is ' + args[0])
    print('rollno is ' + str(args[1]))
    
function2('sanket', 2800)

<class 'tuple'>
name is sanket
rollno is 2800

In [2]:
# using kwargs 

def printer(**kwargs):
    print(type(kwargs))
    for key,value in kwargs.items():
        print(key + ' : ' + value)
d = {'name': 'sanket',
     'roll number': '28',
     'division': 'A'}

printer(**d)

<class 'dict'>
name : sanket
roll number : 28
division : A

### try, except, else and finally

In [3]:
# used for keeping the code running 

try:
    f= open('file.txt', 'r')
    f.read()
    f.close()
except:
    print('this will run if the try block fails')
else:
    print('this will run only when there is no Exception')
finally:
    print("this will run in every case")

this will run if the try block fails
this will run in every case

### generator

In [4]:
# generator
# for generating numbers on the go and saving the memory 

def gen(n):
    for i in range(n):
        yield i 
        
ob1 = gen(4)
print(next(ob1))
print(next(ob1))
print(next(ob1))
print(next(ob1))
try:
    print(next(ob1))
    print(next(ob1))
except:
    print('this will not run')
    print('since it has already run four times')

0
1
2
3
this will not run
since it has already run four times

In [5]:
name = 'san'
iter1 = iter(name)
print(next(iter1))
print(next(iter1))
print(next(iter1))
try:
    print(next(iter1))
except:
    print('this wil not run')

s
a
n
this wil not run

### comprehension

In [6]:
# list comprehension
divide_by_3 = [i for i in range(20) if i % 3 == 0]
divide_by_3

[0, 3, 6, 9, 12, 15, 18]

In [7]:
# dictionary comprehension
d1 = {k:k*2 for k in range(1,11)}
d1

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [8]:
# set comprehension
set1 = {x**2 for x in [1,1,1,2,2,5,5,8,8,8]}
set1

{1, 4, 25, 64}

In [9]:
# generator comprehension
gen = (i for i in range(10))
gen

### map, filter, reduce

In [10]:
# map
ls = [i*3 for i in range(10)]
def raised_by_four(n):
    return n**4
raise_by_4 = list(map(raised_by_four, ls))
raise_by_4

[0, 81, 1296, 6561, 20736, 50625, 104976, 194481, 331776, 531441]

In [11]:
# filter 
def div_by_4(n):
    if n % 4 ==0:
        return True
    else:
        return False
divisible_by_4 = list(filter(div_by_4, range(0,50)))
divisible_by_4

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

In [12]:
# reduce 
from functools import reduce
def sum_num(a,b):
    return a + b
sum_of_100 = reduce(sum_num, range(100))
sum_of_100

4950

### lambda function

In [13]:
add = lambda x,y: x + y
add(4,10)

14

### list slicing

In [14]:
print(ls)
ls1 = ls[::-1]
print(ls1)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]
[27, 24, 21, 18, 15, 12, 9, 6, 3, 0]

In [15]:
ls2 = ls[::2]
ls2

[0, 6, 12, 18, 24]

### bisect module

In [16]:
import bisect

In [17]:
ls = [i for i in range(1,11)]
# adding a new number to a list in such a way that the list remains sorted
bisect.insort(ls, 8.8)
ls

[1, 2, 3, 4, 5, 6, 7, 8, 8.8, 9, 10]

### enumerate

In [18]:
ls

[1, 2, 3, 4, 5, 6, 7, 8, 8.8, 9, 10]

In [19]:
for i, item in enumerate(ls):
    if i % 2 ==0:
        print(i,item)

0 1
2 3
4 5
6 7
8 8.8
10 10

### format

In [29]:
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
for i, item in enumerate(ls):
    print('the item at position {} is {}'.format(i,item))

the item at position 0 is 1
the item at position 1 is 2
the item at position 2 is 3
the item at position 3 is 4
the item at position 4 is 5
the item at position 5 is 6
the item at position 6 is 7
the item at position 7 is 8
the item at position 8 is 9
the item at position 9 is 10

### join

In [32]:
list_1 = ['name', 'surname', 'roll number', 'division']
list_1

['name', 'surname', 'roll number', 'division']

In [35]:
print(' and '.join(list_1))

name and surname and roll number and division

In [36]:
import os

In [40]:
os.path